@font-face{
  font-family: 'rubik';
  src: url(../fonts/Rubik-Regular.ttf);
  font-family: 'montserat';
  src: url(../fonts/Montserrat-Medium.ttf);
}
  *{
  margin:0;
  padding: 0;
  box-sizing: border-box; 
}
body{ 
    max-width: 1200px; 
    min-width: 320px;
    margin: 0 auto;
    background-color: #fff;
    width: 100%;
    padding: 0 ;
}
html{
    font-family: rubik, sans-serif;
    font-size:10px;    
    background:-webkit-linear-gradient(top, rgba(113,212,26,1) 0%, rgba(113,212,26,1) 14%, rgba(62,77,49,1) 89%, rgba(62,77,49,1) 100%) ;
} 
/*header-start*/
.header{
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  align-items: center;
  width: 96%;
  margin: 0 auto;
}
.header-right{
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.registerArea{
  display: flex;
  justify-content: space-around;
  width: 30%;
  align-items: center;
}
.registerArea li{
  list-style-type: none;
  text-transform: capitalize; 
  font-size: 1.4rem;
  display: inline-block;
  }
.registerArea li a{
  text-decoration: none;
  color: green;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  transition: 0.3s;
  border:1px solid #FFF;
}
.registerArea li a:hover{
  border: 1px solid rgb(10, 37, 2);
  background-color: green;
  color:#fff;  
}
.header-search input{
  background: #ececec;
  border: none;
  border-radius: 13px;
  padding: 5px 28px 5px 10px;
  width: 20%px;
  outline: none;
}
#search-button i{
 font-size: 1.3rem;
 margin-left: -25px;
 color: gray;
}
/*header-end
  navigation-start*/
#main{
  display:flex; 
}
.main-nav{
  flex-basis: 25%;
  font-family: montserat; 
  font-weight: 600;  
}
.main-nav ul{
display: flex;
flex-direction: column;
align-items: flex-start;
background-color: rgba(255, 145, 0, 0.575);
border-radius: 20px; 

}
.main-nav li{
  list-style-type: none;
  font-size: 1.6rem;
  padding: 2rem;
  display: inline-block;
}
.main-nav li a{
  text-decoration: none;
  color: green;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  transition: 0.3s;
  border:2px solid #FFF;  
}
.main-nav li a:hover{
  border: 2px solid rgb(5, 4, 2);
  background:gray;
  color:#fff;   
}
/*navigation end
  main start*/
#main main{
  display: flex;
  flex-grow: 3;
  background-color: rgba(0, 255, 255, 0.178);
  border-radius: 20px;
  flex-direction: column;
  flex-basis: 80%;
  flex-shrink: 5;
}
.teams{
  display: flex;
  justify-content: space-around;   
  margin: 10px;
  height: 40px;
}
.teams a{
  width: 45px;
}
.teams a img{
  width: 35px;
  height: 35px;
}
.teams img:hover{
  width: 45px;
  height: 45px;
}
.slider{ 
  width: 350px;
  margin: 0 auto;
  overflow: hidden; 
  margin-top:20px;
  background-color: rgb(7, 75, 22);  
  border-radius: 10px;
}
.animation a{
 text-decoration: none;
  
  display: block; 
}
.animation h3:hover{
  transition: 0.2s;
  color: rgb(253, 137, 5);
}
.animation h3{
  font-size: 2rem;
  color: #fff;
  background-color: rgb(7, 75, 22);
  padding: 10px 20px;
  text-align: center;  
}
.animation{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 1050px;
  animation:slider 12s linear;
	animation-iteration-count:infinite;
  animation-direction:alternate;
  position: relative;
  
}
.animation:hover{
  animation-play-state: paused;  
}
@keyframes slider{
	0%{
		left:0;
	}	
	30%{
		left:0px;
	}
	33%{
		left:-350px;
	}
	63%{
		left:-350px;
	}
	66%{
		left:-700px;
	}
	100%{
		left:-700px;
	}
}
.main-bottom {
  margin-top: 40px;
  align-self: center;
  padding: 20px;
}
.main-bottom h3{
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  text-align: center;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}
.main-bottom ul{
  display: flex;
  flex-direction: column;
}
.main-bottom li{
  list-style-type: none;
  display: flex;
  border-bottom: 1px dotted gray;
  padding: 1rem 0;
  align-items: center;  
}
.main-bottom a{
  text-decoration: none;
  font-size: 1.4rem;
  color:black;
  line-height: 2.5rem;
  color: rgb(63, 23, 23);
  flex-basis: 100%;
}
.main-bottom a:hover{  
  color: rgb(32, 173, 3);
}
/*PAGE NEWS Start*/
.main-news{
max-width: 90%;
margin: 10px auto;
}
.main-news img{
  width: 100%;
  padding: 15px 0 0;  
}
.main-news h3{
  font-size: 3rem;
  padding: 10px 0;
  border-bottom: 2px solid black;  
}
.main-news h2{
 font-size: 2rem;
 padding:20px 10px;
 background: black;
 color: #fff;
}
.main-news h2:hover{
  color: rgb(52, 117, 52);
  cursor: pointer;
}
.main-bottom-news img{
  float: left;
  margin-right:10px;  
}
.main-bottom-news h5{
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.7rem; 
}
.main-bottom-news p{
  line-height: 1.7rem;
  margin-top:1.4rem;
}
.main-bottom-news a:hover{
  background: black;
  color: rgb(21, 226, 216);
  transition: 0.1s;  
}

/*PAGE NEWS End*/
/*PAGE Tousrnaments start*/
.ligs{
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.ligs a{
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
  background: #5ba16c;
  border: 2px solid #fff;
  font-size: 2rem;
  font-family: montserat;
  padding: 5px 10px;
  border-radius: 20px;
  text-align: center;
}
.ligs a:hover{
  color: #f7ab07;
  background: #FFF;
  border:2px solid black;
}
.result{
  margin-top: 30px;
}
.result h3{
  text-align: center;
  font-size: 2rem;
  border-bottom: 2px solid black;
  width: 80%;
  margin: 10px auto;
  text-transform: uppercase;
  
}
.result table{
  width: 80%;
  margin: 10px auto 30px;
  border: 1px solid rgb(143, 143, 143);   
  font-size: 1.4rem;
  border-collapse: collapse;
  min-width: 320px;
  background: rgb(165, 165, 165);
}
.result table tbody tr{
    border-top: 1px solid rgb(143, 143, 143);       
}
.result td{
  padding: 8px 5px;
} 
.result table tr:nth-child(even){
  background:rgb(143, 143, 143);
  
}
.time{  
  width: 15%;
  text-align: center;
  color: rgb(253, 165, 0);
}
.left_team{
  text-align: right;
  width: 35%;
  font-size: 1.6rem;
  font-family: 'montserat';
  color: white;
}
.right_team{
  text-align: left;
  font-size: 1.6rem;
  font-family: 'montserat';
  width: 35%;
  color: white;
}
.score{
  width: 15%;
  text-align: center;
  font-weight: 800;
  color: rgb(0, 94, 0);
}
/*page tournaments end*/
/*page calendar and table start*/
.premier_league{
  width: 90%;
  margin: 20px auto;
}
.premier_league h3{
  text-align: center;
  font-size: 2rem;
  border-bottom: 2px solid black;
  width: 100%;
  margin: 10px auto;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}
.premier_league table{
  width: 100%;
  font-size:1.3rem;
  background:rgba(255, 255, 255, 0.514); 
  border-collapse: collapse;  
}
.premier_league table td{
  border-bottom: 1px solid rgb(145, 143, 143);
  padding: 7px 0;
  text-align: center;
}
.premier_league tr:hover{
    background: #70ec70;
    transition: 0.1s;
}
.table-head{
  margin: 0 10px;
}
.table-head td{
  font-size:1.4rem; 
  text-align: center;
  background-color: rgb(90, 89, 89);
  color:white;
}
.table-group{
  text-align: center;
  font-style: italic;
  background-color: rgb(148, 146, 146);
}
.premier_league table .table-team{
  text-align: left;
  padding-left: 5px;
}
.scores{
  color: rgb(252, 67, 0);
  font-weight: 600;
}
.premier_league table tr td:nth-child(1){
  padding-left: 10px;
}
.premier_league table tr td:last-child{
  padding-right: 10px;
}
.premier_league a{
  text-decoration: none;
  color: black;
  font-family: Verdana,  sans-serif;
}
.premier_league a:hover{
  color: #fff; 
}
/*page calendar and table end*/
/*page photo gallery start*/
.photo_gallery{
  padding: 10px;
  width: 100%;  
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.photo_gallery div{
  flex-basis: 33%;
  position: relative;
}
.photo_gallery img{
  padding: 2px;
  width: 100%;
}
.photo_gallery img:hover{
  width: 300%;
  z-index: 10; 
  position: absolute;
  left: ;
  top: ;
}
/*page photo gallery end*/
/*main end
  aside start*/
.main-aside{
  flex-basis: 25%;
  background-color: rgba(104, 102, 238, 0.336);  
  border-radius:20px;
}
.main-aside>*{
  margin: 20px;  
}
.main-aside h3 {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  text-align: center;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}
.main-aside ul{
  display: flex;
  flex-direction: column;
}
.main-aside li{
  list-style-type: none;
  display: flex;
  border-bottom: 1px dashed gray;
  padding: 1rem 0;
  align-items: center;
  
}
.main-aside img{
  margin-right: 10px;
}
.main-aside a{
  text-decoration: none;
  font-size: 1.3rem;
  color:black;
  line-height: 2.5rem;
  text-transform: capitalize;
  color: rgb(63, 23, 23);
}
.main-aside a:hover{
  font-weight: 900;
  color: #fff;
}
.programs li{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.programs *{
  font-size: 1.4rem;
}
.programs a {
  font-size: 1.8rem;
  color: rgb(117, 60, 7);  
}
.programs a:hover{
  color:rgb(6, 53, 6);
}
footer{
  height: 50px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(112, 112, 243, 0.493);
  padding: 0 30px;  
  align-items: center;
  border-radius: 10px;
}
footer span{
  font-size: 1.5rem;
}
.social_icons{
  display: flex;
  width: 20%;
  align-items: center;
}
.social_icons a{  
  flex-basis: 30%;   
  height: 30px; 
  font-size: 3rem;    
}
.social_icons a:hover{  
  font-size: 4rem;
  height:40px;
}
.social_icons a:nth-child(1) {
color:#3b5998;
}
.social_icons a:nth-child(2) {
  color:#dd4b39;
}
  .social_icons a:nth-child(3) {
    color:#55acee;
}
